.*.sw?
.DS_Store
.rbenv-version
.idea
BMUNapp.xcworkspace/xcuserdata/jakemoskowitz.xcuserdatad/UserInterfaceState.xcuserstate
BMUNapp.xcworkspace/xcuserdata/michaeleliot.xcuserdatad/UserInterfaceState.xcuserstate
